<p>
  Excel test page
</p>

<button (click)="click_next()">Finish 1st step</button>

<input type="file" class="file-browser" multiple placeholder="Upload file" accept=".xlsx,.xls" (change)="change_filesSelected($event)">

<!-- List of read files' paths -->
<ul *ngIf="!!reader.inputFileNames">
  <li *ngFor="let fileName of reader.inputFileNames">{{fileName}}</li>
</ul>

<div class="mapped-transactions" *ngIf="readInBankRows != null && readInBankRows.length > 0">

  <!-- Header -->
  <div class="bank-row header">
    <span class="tr-row {{propertyMap.customClass}}"
          *ngFor="let propertyMap of mapper.propertyMaps"
          [ngClass]="{'isClosed': !propertyMap.isOpen}" 
          [ngStyle]="{'width': propertyMap.width}"
          (click)="click_toggleColumnVisibility(propertyMap)">
          {{propertyMap.literal}}
    </span>
  </div>
  <!-- TODO legyen a táblázat fixed headerrel, mindig lássuk mi micsoda -->

  <!-- Body -->
  <div class="bank-row" 
       *ngFor="let tr of sortBy_bankRows(readInBankRows, 'AccountingDate')" 
       [ngClass]="{'excluded': tr.isExcluded}">
    <button type="button" (click)="click_toggleRowExclusion(tr)">{{tr.isExcluded ? "-" : "+"}}</button>        
    <span class="tr-row {{propertyMap.customClass}}"
          *ngFor="let propertyMap of mapper.propertyMaps"
          [ngClass]="{'isClosed': !propertyMap.isOpen}" 
          [ngStyle]="{'min-width': propertyMap.width}">
          {{mapper.getPropertyValue(tr.bankRow, propertyMap.property)}}
    </span>    
  </div>

</div>

