<p>db-file-comparer.component</p>
<button (click)="click_sout()">Stage 2: Sout</button>

<div *ngIf="fileList != null && fileList.length > 0">
    <div class="transaction"
         *ngFor="let tr of fileList"
         [ngClass]="{'new-row': tr.compareResults.isNew, 'same-content': tr.compareResults.isSameContent, 'same-original-content': tr.compareResults.isSameOriginalContent}">
      <span>{{tr.AccountingDate}},&nbsp;</span>
      <span>{{tr.TransactionId}},&nbsp;</span>
      <span>{{tr.Sum}}</span>
    </div>
</div>
