$half-height: 300px;
$bar-width: 60px;
$y-units-width: 70px;
$x-units-height: 30px;

.bmb-page {
    .chart {
        .y-units,
        .bar-section {
            display: inline-block;
            vertical-align: top;
        }

        .y-units {
            width: $y-units-width;
            padding-right: 5px;

            .half,
            .x-gap {                
                font-size: 10px;
            }

            .half {
                //height: $half-height;
                text-align: right;
            }

            .x-gap {
                display: flex;
                align-items: center;

                span {
                    text-align: right;
                    display: block;
                    width: 100%;
                }
            }
        }

        .x-gap,
        .x-units {
            height: $x-units-height;
        }

        .bar-section {
            overflow-x: scroll;
            width: calc(100% - #{$y-units-width});

            .x-units {
                overflow: hidden;

                .x-unit {
                    width: $bar-width;
                    height: $x-units-height;
                    font-size: 10px;
                    display: inline-flex;
                    align-items: center;

                    span {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .half {
                height: $half-height;
                position: relative;

                &.top-half {
                    .bars {
                        bottom: 0;

                        .bar {
                            bottom: 0;

                            &.income {
                                background-color: #59d259;
                            }
                        }
                    }
                }

                &.bottom-half {
                    .bars {
                        top: 0;

                        .bar {
                            top: 0;

                            &.expense {
                                background-color: #ff8080;
                            }
                        }
                    }
                }
            }

            .bars {
                position: absolute;
                width: $bar-width;

                &.no-data {
                    height: 100%;
                    background: #eee;
                }
            }

            .bar {
                position: absolute;
                left: 0;
                right: 0;
                width: $bar-width;

                &.flow {
                    opacity: 0.9;
                    background-color: #3472d0;
                }
            }
        }
    }

    table {
        tr.header {
            font-weight: bold;
        }

        td {
            border: 1px solid #ddd;
            padding: 3px 5px;
        }

        tr.positive {
            color: #59d259;
        }

        tr.negative {
            color: #ff8080;
        }
    }

    .money {
        font-family: "Courier New", Courier, monospace;
        text-align: right;
    }
}
