.content {
    padding: 0 10px;
}

$tag-height: 20px;
.tag-dropdown {
    position: relative;
    display: inline-block;
    height: $tag-height;

    input {
        border: none;
        background: #e5e5e5;
        height: $tag-height;
        vertical-align: top;
        font-size: 12px;
        width: 80px;
        padding: 0 10px;

        &:focus {
            outline: none;
        }
    }

    .results {
        position: absolute;
        top: $tag-height;
        left: 0;
        z-index: 100;
        background-color: #fff;
        border: 1px solid #ddd;

        .result {
            padding: 10px;
            cursor: pointer;
        }
    }
}

.tr-table {
    $cell-height: 30px;

    .ml-input {
        height: 23px;
        border: none;
        width: 100%;
        background-color: #f1f1f1;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #aaa;
            opacity: 1; 
        }

        &:-ms-input-placeholder {
            color: #aaa;
        }

        &::-ms-input-placeholder {
            color: #aaa;
        }
    }

    .data-inputs {
        .ml-input {
            margin-bottom: 2px;
        }
    }


    $br-height: 15px;
    &.gen-tr {
        .tr-row {
            margin-top: $tag-height + $br-height + 1;
        }
    }

    .tr-row {
        vertical-align: top;
        white-space: nowrap;
        margin-top: 1px;
        position: relative;

        //&.with-tags {}

        .tags-container {
            position: absolute;
            height: $tag-height;
            top: -($tag-height + $br-height);
            left: 75px;

            .tag-item {
                height: $tag-height;
                line-height: $tag-height;
                padding: 0 10px;
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                border-right: 1px solid #ddd;
            }
        }

        .br-container {
            position: absolute;
            top: -$br-height;
            left: 75px;

            .br-row {
                height: $br-height;
                white-space: nowrap;

                .br-cell {
                    display: inline-block;
                    height: $br-height;
                    line-height: $br-height;
                    font-size: 10px;
                    background-color: #ddd;
                    margin-right: 1px;
                    vertical-align: top;
                    padding: 0 10px;
                }
            }
        }

        .tr-cell:first-child {
            border-left: 1px solid #ddd;
        }

        &:last-child .tr-cell {
            border-bottom: 1px solid #ddd;
        }

        &.header {
            font-weight: bold;
            height: $cell-height;
        }

        &.excluded .tr-row-content .tr-cell {
            background-color: #f1f1f1;
            color: #b6b6b6;
        }

        &.excluded .tr-row-content .tr-cell:first-child {
            background-color: transparent;
            color: initial;
        }

        .tr-cell {
            display: inline-block;
            border: 1px solid #ddd;
            border-left: none;
            padding: 2px 5px;
            height: $cell-height;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 76px;
        }

        .tr-row-content {
            height: $cell-height;
        }

        .tr-details {
            padding: 10px 0;
            font-size: 12px;

            .tr-details-menu {
                .tr-details-menu-item {
                    display: inline-block;
                    padding: 5px 8px;
                    border: 1px solid #ddd;
                    border-bottom: none;
                    border-right: none;
                    cursor: pointer;
                    background: #ddd;
                    color: #777;

                    &:hover,
                    &.active {
                        color: #111;
                        background: #fff;
                    }

                    &.active {
                        cursor: default;
                    }
                }

                .tr-details-menu-item:last-child {
                    border-right: 1px solid #ddd;
                }
            }

            .tr-details-content {
                padding: 8px 8px 5px 8px;
                border: 1px solid #ddd;

                p {
                    padding: 0 0 5px 0;
                    margin: 0;
                }

                .title-item {
                    font-weight: bold;
                }

                .alert-item {
                    background: #eee;
                    padding: 2px 4px;
                    margin-bottom: 5px;
                }

                .no-alert-item {
                    color: #777;
                }
            }
        }
    }

    .tr-btn {
        display: inline-block;
        background-color: #444;
        color: #eee;
        cursor: pointer;
        font-size: 15px;
        height: 25px;
        line-height: 25px;
        width: 25px;
        text-align: center;
        border-radius: 3px;
        margin-right: 2px;

        &.excluded {
            background-color: #666;
            color: #eee;
        }
    }
}
