.content {
    padding: 0 10px;
}

.tr-table {
    $cell-height: 30px;

    .ml-input {
        height: 23px;
        border: none;
        width: 100%;
        background-color: #f1f1f1;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #aaa;
            opacity: 1; 
        }

        &:-ms-input-placeholder {
            color: #aaa;
        }

        &::-ms-input-placeholder {
            color: #aaa;
        }
    }

    .data-inputs {
        .ml-input {
            margin-bottom: 2px;
        }
    }

    .tr-row {
        vertical-align: top;
        white-space: nowrap;
        margin-bottom: 1px;

        $tag-height: 20px;
        &.with-tags {
            position: relative;
            margin-top: $tag-height + 1;
        }

        .tags-container {
            position: absolute;
            height: $tag-height;
            top: -$tag-height;
            left: 75px;

            .tag-item {
                height: $tag-height;
                line-height: $tag-height;
                padding: 0 10px;
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
            }
        }

        .tr-cell:first-child {
            border-left: 1px solid #ddd;
        }

        &:last-child .tr-cell {
            border-bottom: 1px solid #ddd;
        }

        &.header {
            font-weight: bold;
            height: $cell-height;
        }

        &.excluded .tr-row-content .tr-cell {
            background-color: #f1f1f1;
            color: #b6b6b6;
        }

        &.excluded .tr-row-content .tr-cell:first-child {
            background-color: transparent;
            color: initial;
        }

        .tr-cell {
            display: inline-block;
            border: 1px solid #ddd;
            border-left: none;
            padding: 2px 5px;
            height: $cell-height;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 76px;
        }

        .tr-row-content {
            height: $cell-height;
        }

        .tr-details {
            padding: 10px 0;
            font-size: 12px;

            .tr-details-menu {
                .tr-details-menu-item {
                    display: inline-block;
                    padding: 5px 8px;
                    border: 1px solid #ddd;
                    color: #777;
                    border-bottom: none;
                    cursor: pointer;

                    &:hover,
                    &.active {
                        background: #ddd;
                        color: #111;
                    }

                    &.active {
                        cursor: default;
                    }
                }

                .tr-details-menu-item:first-child {
                    border-right: none;
                }
            }

            .tr-details-content {
                padding: 8px 8px 5px 8px;
                border: 1px solid #ddd;

                p {
                    padding: 0 0 5px 0;
                    margin: 0;
                }

                .title-item {
                    font-weight: bold;
                }

                .alert-item {
                    background: #eee;
                    padding: 2px 4px;
                    margin-bottom: 5px;
                }

                .no-alert-item {
                    color: #777;
                }
            }
        }
    }

    .tr-btn {
        display: inline-block;
        background-color: #444;
        color: #eee;
        cursor: pointer;
        font-size: 15px;
        height: 25px;
        line-height: 25px;
        width: 25px;
        text-align: center;
        border-radius: 3px;
        margin-right: 2px;

        &.excluded {
            background-color: #666;
            color: #eee;
        }
    }
}
