.left-side-menu {
    .wizard-nav-section {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 0;
    }
}

.update-page-content {
    h2 {
        font-size: 18px;
    }
}
