<app-wizard-navigation></app-wizard-navigation>

<p>Update page</p>

<div class="dialog-contianer" [ngSwitch]="stage">
    <!-- Info -->
    <div *ngSwitchCase="stageType.fileFileCompare">
        <app-file-file-comparer-component (nextStepChange)="change_fileFileOutput($event)"></app-file-file-comparer-component>
    </div>
    <div *ngSwitchCase="stageType.dbFileCompare">
        <app-db-file-comparer-component [params]="fileFileResult" (nextStepChange)="change_dbFileOutput($event)"></app-db-file-comparer-component>
    </div>
    <div *ngSwitchCase="stageType.evaluateRules">
        <app-rule-evaluator-component [params]="dbFileResult" (nextStepChange)="change_ruleEvaluatorOutput($event)"></app-rule-evaluator-component>
    </div>
    <div *ngSwitchDefault>
        <p>Something went wrong.</p>
    </div>
</div>
