@import "./../../../styles/variables.scss";

// HACK unfortunetaly setting these means messing up the style
// TODO fix css to be truly dynamic
$line-width: 6px;
$line-height: 100px;
$circle-size: 14px;
$active-color: #ddd;
$active-text-color: #eee;
$inactive-color: #555;
$inactive-circle-color: #595959;
$background-color: #444;
$tooltip-height: 28px;

.wizard-nav {

    .step {
        position: relative;
        text-align: center;

        &.first {
            .line {
                display: none;
            }

            .circle {
                background: $active-color;
                bottom: -1px;
            }

            .title {
                bottom: -($circle-size / 2);
            }
        }

        &.active {
            .line,
            .circle {
                background: $active-color;
            }

            .title {
                color: $active-text-color;
            }
        }

        .title {
            position: absolute;
            bottom: -(($tooltip-height / 2) + ($circle-size / 2));
            left: $side-nav-width + 5px;
            white-space: nowrap;
            padding: 0 12px;
            background-color: $background-color;
            color: #aaa;
            opacity: 0.95;
            font-size: 12px;
            border-radius: 3px;
            height: $tooltip-height;
            line-height: $tooltip-height;

            &:before {
                content: "";
                position: absolute;
                border-color: transparent;
                border-style: solid;
                top: 10px;
                left: -9px;
                border-width: 0.4rem 0.4rem 0;
                border-top-color: $background-color;
                transform: rotate(90deg);
            }
        }

        .circle {
            background: $inactive-circle-color;
            border-radius: 20px;
            width: $circle-size;
            height: $circle-size;
            z-index: 100;
            position: absolute;
            bottom: -($circle-size) + 1;
            left: ($side-nav-width / 2) - ($circle-size / 2);
        }

        .line {
            width: $line-width;
            //height: 100px; // default height
            background: $inactive-color;
            margin: auto;
            margin-top: $circle-size - 2;
        }
    }
}