<div class="wizard-nav">
    <div class="content">
        <div class="step" *ngFor="let wizardStep of wizardSteps; let i = index"
            [ngClass]="{'first': i === 0, 'active': i <= stepsAt}" 
            [ngStyle]="{'width': stepWidthPercent + '%'}">
            <div class="aligner">
                <div class="title" [ngClass]="{'hidden': isTooltipsHidden}">{{wizardStep.title}}</div>
            </div>
            <div class="arrow"></div>
            <div class="line" [ngStyle]="{'height': lineHeight}"></div>
            <div class="circle"></div>
        </div>
    </div>
</div>