$line-height: 6px;
$circle-size: 14px;
$active-color: #ddd;
$active-text-color: #eee;
$inactive-color: #555;
$inactive-circle-color: #595959;
$background-color: #444;
$tooltip-height: 28px;

$default-line-width: 100px;

$active-line-color: #888;
$active-circle-color: #888;
$active-text-color: #333;

$inactive-line-color: #333;
$inactive-circle-color: #333;
$inactive-text-color: #777;

.wizard-nav {
    padding: 0 10px;

    .content {
        width: 100%;
    }

    .step {
        display: inline-block;
        position: relative;
        height: 1px;

        &.first {
            width: 0 !important;

            .line {
                display: none;
            }
        }

        .line,
        .circle {
            position: absolute;
        }

        .line {
            top: -($line-height / 2);
            left: 0;
            right: 0;
            height: $line-height;
            background-color: $inactive-line-color;
        }

        .circle {
            background: $inactive-circle-color;
            border-radius: 50px;
            width: $circle-size;
            height: $circle-size;
            z-index: 100;
            right: -($circle-size / 2);
            top: -($circle-size / 2);
        }

        .title {
            white-space: nowrap;
            display: inline-block;
            padding: 0 12px;
            background-color: $background-color;
            color: $inactive-text-color;
            opacity: 0.95;
            font-size: 12px;
            border-radius: 3px;
            height: $tooltip-height;
            line-height: $tooltip-height;

            // &:before {
            //     content: "";
            //     position: absolute;
            //     border-color: transparent;
            //     border-style: solid;
            //     top: 10px;
            //     left: -9px;
            //     border-width: 0.4rem 0.4rem 0;
            //     border-top-color: $background-color;
            //     transform: rotate(270deg);
            // }
        }

        .arrow {
            border-color: transparent;
            border-style: solid;
            border-width: 0.4rem 0.4rem 0;
            border-top-color: $background-color;
            width: 10px;
            display: inline-block;
            position: absolute;
            right: -($circle-size / 2);
            top: -(($circle-size / 2) + 5 + 1);
        }

        &.active {
            .line {
                background-color: $active-line-color;
            }
            .circle {
                background-color: $active-circle-color;
            }
            .title {
                color: $active-text-color;
            }
        }

        .aligner {
            position: absolute;
            top: -($tooltip-height + ($circle-size / 2) + 2 + 4);
            right: -50%;
            width: 100%;
            text-align: center;
        }
    }
}
