@import "./../../../styles/variables.scss";

footer {
    padding: 10px 15px;
    background: #444;
    color: #eee;
    height: $footer-height;

    p {
        padding: 0;
        margin: 0;
    }
}