<div class="content">
    <div class="tr-table" *ngIf="bankRows != null && bankRows.length > 0">
        <!-- Header -->
        <div class="tr-row header">
            <!-- Actions head -->
            <div class="tr-cell center" style="width: 70px;">
                <fa-icon icon="wrench"></fa-icon>
            </div>
            <!-- Id head -->
            <div class="tr-cell" style="width: 30px;">Id</div>
            <!-- BankRow value head -->
            <div class="tr-cell" *ngFor="let propertyMap of mapper.propertyMaps"
                [ngStyle]="{'width': propertyMap.width}">
                <span *ngIf="!propertyMap.literal">{{propertyMap.property}}</span>
                <span *ngIf="propertyMap.literal">{{propertyMap.literal}}</span>
            </div>
        </div>
        <!-- Content -->
        <div class="tr-row" *ngFor="let tr of sortBy_bankRows(bankRows, 'AccountingDate')"
            [ngClass]="{'excluded': tr.isExcluded, 'opened': tr.isDetailsOpen}">
            <div class="tr-row-content">
                <!-- Actions -->
                <div class="tr-cell" style="width: 70px;">
                    <!-- Include/Exclude -->
                    <div class="tr-btn" (click)="click_toggleRowExclusion(tr)"
                        [ngClass]="{'excluded': tr.isExcluded}">
                        <fa-icon icon="minus" *ngIf="tr.isExcluded">
                        </fa-icon>
                        <fa-icon icon="plus" *ngIf="!tr.isExcluded">
                        </fa-icon>
                    </div>
                    <!-- Toggle details -->
                    <div class="tr-btn" (click)="click_toggleDetails(tr)">
                        <fa-icon icon="chevron-down" *ngIf="tr.isDetailsOpen"></fa-icon>
                        <fa-icon icon="chevron-up" *ngIf="!tr.isDetailsOpen"></fa-icon>
                    </div>
                </div>
                <!-- Id -->
                <div class="tr-cell" style="width: 30px;">{{tr.uiId}}</div>
                <!-- BankRow value -->
                <div class="tr-cell {{propertyMap.customClass}}" *ngFor="let propertyMap of mapper.propertyMaps"
                    [ngClass]="{'isClosed': !propertyMap.isOpen}" [ngStyle]="{'width': propertyMap.width}"
                    [title]="mapper.getPropertyValue(tr.bankRow, propertyMap.property)">
                    {{mapper.getPropertyValue(tr.bankRow, propertyMap.property)}}
                </div>
            </div>
            <!-- Details menu -->
            <div class="tr-details" *ngIf="tr.isDetailsOpen">
                <div class="tr-details-menu">
                    <div class="tr-details-menu-item" [ngClass]="{'active': tr.detailsMenuPageAt === 0}"
                        (click)="click_switchDetailsMenu(tr, 0)">Actions</div>
                    <div class="tr-details-menu-item" [ngClass]="{'active': tr.detailsMenuPageAt === 1}"
                        (click)="click_switchDetailsMenu(tr, 1)">Data</div>
                </div>
                <div class="tr-details-content" [ngSwitch]="tr.detailsMenuPageAt">
                    <!-- Menu 1: Actions -->
                    <div *ngSwitchCase="0">
                        <p class="title-item">Active actions</p>
                        <p class="alert-item" *ngIf="tr.isExcluded">{{tr.isExcludedMessage}}</p>
                        <p class="no-alert-item" *ngIf="!tr.hasAnActiveAlert">No alerts.</p>

                        <p class="title-item">Actions suggested from the program</p>
                        <p class="alert-item" *ngFor="let message of tr.messages">{{message}}</p>
                        <p class="no-alert-item" *ngIf="tr.messages.length === 0">No alerts.</p>
                    </div>
                    <!-- Menu 2: Data -->
                    <div *ngSwitchCase="1">
                        <p>TODO</p><!-- TODO -->
                    </div>
                    <div *ngSwitchDefault>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>