.file-browser {
  display: inline-block;
}

.transaction {
  border: 1px solid #ddd;
  margin:2px 0;
  font-size: 13px;

  &.header {
    padding-left:26px;

    span {
      cursor: pointer;
      vertical-align: bottom;
      border:1px solid #ddd;
    }
  }

  button {
    margin-right: 2px;
    width: 25px;
  }

  .tr-row {
    display: inline-block;
    margin-right: 2px;
    padding:2px;

    &.isClosed {
      min-width: auto !important;
      width: 20px !important;
      color: #fff;      
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.excluded {
  background: #ff9999;
}
