.file-browser {
  display: inline-block;
}

.transaction {
  border: 1px solid #ddd;
  margin:2px 0;
  font-size: 13px;

  button {
    margin-right: 2px;
    width: 25px;
  }

  .tr-row {
    display: inline-block;
    margin-right: 2px;
    padding:2px;

    &.acd { min-width:100px; }
    &.tri { min-width:150px; }
    &.typ { min-width:210px; }
    &.acc { min-width:210px; }
    &.acn { min-width:120px; }
    &.paa { min-width:210px; }
    &.pan { min-width:130px; }
    &.sum { min-width:80px; text-align: right; }
    &.cur { min-width:40px; }
    &.msg { min-width:auto; }
  }
}

.excluded {
  background: #ff9999;
}
