<p>
  Excel test page
</p>
<input type="file" class="file-browser" multiple placeholder="Upload file" accept=".xlsx,.xls" (change)="filesSelected($event)">
<button type="button" class="btn btn-info" (click)="upload()">Upload</button>
<button type="button" class="btn btn-info" (click)="evaluateReadFiles()">Evaluate</button>

<div class="mapped-transactions">
  <div class="transaction" *ngFor="let tr of sortBy(flattenedExcelList)" [ngClass]="{'excluded': tr.isExcluded}">
    <button type="button" (click)="toggleRowExclusion(tr)">{{tr.isExcluded ? "-" : "+"}}</button>
    <span class="tr-row acd">{{formatDate(tr.AccountingDate)}}</span>
    <span class="tr-row tri">{{tr.TransactionId}}</span>
    <span class="tr-row typ">{{tr.Type}}</span>
    <span class="tr-row acc">{{tr.Account}}</span>
    <span class="tr-row acn">{{tr.AccountName}}</span>
    <span class="tr-row paa">{{tr.PartnerAccount}}</span>
    <span class="tr-row pan">{{tr.PartnerName}}</span>
    <span class="tr-row sum">{{tr.Sum}}</span>
    <span class="tr-row cur">{{tr.Currency}}</span>
    <span class="tr-row msg">{{tr.Message}}</span>
  </div>
</div>
