.file-browser {
  display: inline-block;
}

.transaction {
  border: 1px solid #ddd;
  margin:2px 0;
  font-size: 13px;

  button {
    margin-right: 2px;
    width: 25px;
  }

  span {
    display: inline-block;
    margin-right: 2px;
    padding:2px;
  }
}

.excluded {
  background: #ff9999;
}
